@import url('nullstyle.css');


body{
    position: relative;
    background-image: url('../img/header/BG.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: 76px;
    font-family: 'Georgia';
}
.header {
    width: 1370px;
    height: 980px;
    margin: 0 auto;
    
}
.nav__menu {
    width: 1370px;
    margin: 0 auto;
    background: #FFFFFF;
    margin-top: 17px;
    margin-bottom: 17px;
}
.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    padding-right: 172px;
}
.nav__about{
    
}
.nav__about ul{
    display: flex;
        
    flex-direction: row;
    gap: 71px;
}
.nav__link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;


    color: #292929;

}
.nav__login {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    
}
.nav__sign {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;




    color: #000000;
}
.btn {
    align-items: center;
    padding: 13px 50px;
    

    background: #01996D;
    color: #fff;
    border: 1px solid #01996D;
    border-radius: 4px;
}
.background{
    position: absolute;
    width: 1920px;
    height: 895px;
    left: 0px;
    top: 58px;    
    border: 1px solid #D6D6D6;
}

.header__about{
}

.header__container{
    max-width: 1369px;
    margin: 0 auto;
    margin-top: 210px;
}

.header__about h1{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    width: 440px;
    color: #01996D;
    padding-bottom: 30px;
    
}
.header__text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    width: 428px;
    padding-bottom: 58px;

    color: #484848;
}

/*===================*/


.main {
    
}
.main__row {
    max-width: 1386px;
    max-height: 1413px;
    margin: 0 auto;

}
.main__container {
    margin-top: 169px;
    
}
.main__head {
  display: flex;
  justify-content: space-between;
}
.main__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;


    color: #424242;
}
.main__title p{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    width: 584px;
    color: #01996D;
    align-items: center;
}
.main__subtitle {
}
.main__text {
    width: 571px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    padding-top: 59px;

    color: #424242;
}
.main__all {
    
}
.main__body {
    display: flex;
    flex-direction: row;
    gap: 95px;
}
.main__columns {
}
.main__column-title::before{
    position: absolute;
    content: attr(data-number);
    width: 157px;
    height: 225px;
    top: -105px;
    left: 0;
    font-weight: 400;
    font-size: 150px;
    transform: translateY(28%);
    color: rgba(1, 153, 109, 0.2);

}
.main__column1 {
    width: 390px;
    padding-top: 153px;
}
.main__column-title {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    padding-bottom: 55px;

    text-align: center;

    color: #000000;
}

.main__column-text{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 60px;


    color: #424242;
    width: 362px;
}

.column__img {
    width: 392px;
    height: 492px;
}
.main__column2 {
    padding-top: 403px;
    position: relative;
    width: 392px;
}
.main__column2::before{
    position: absolute;
    display: block;
    content: attr(data-number);
    width: 157px;
    height: 225px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 150px;
    transform: translateY(135%);
    color: rgba(1, 153, 109, 0.2);

}
.main__column3 {
    padding-top: 270px;
    position: relative;
    width: 441px;
}
.main__column3::before{
    position: absolute;
    content: attr(data-number);
    width: 157px;
    height: 225px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 150px;
    transform: translateY(-40%);
    color: rgba(1, 153, 109, 0.2);

}


/*======================*/

.video {

    
}
.video__row {
    background: #245852;
    margin-top: 127px;
}
.video__container {
    width: 1506px;
    height: 922px;  
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video__content {
    width: 580px;
}

.video__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    margin-bottom: 33px;

    color: #fff;
}
.video__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 157%;
    margin-bottom: 57px;

    color: #fff;
}
.btn {
}
.video__img {
    margin-top: 229px;
    margin-bottom: 177px;
    width: 895.84px;
    height: 516.11px;   
}


/*=======================*/



.our {
}
.our__row {
    width: 1370px;
    margin: 0 auto;
}
.our__container {
    display: flex;
    padding-top: 127px;
    padding-bottom: 127px;
}
.our__content {
    position: relative;
}
.our__about{
    padding-left: 87px;
}
.our__img {
    background-image: url('../img/our/1.png');
    width: 638.69px;
    height: 573.26px;
   
}

.our__content::after{
    position: absolute;
    content: '';
    background-image: url('../img/our/Card.png');
    width: 293px;
    height: 296px;
    left: -60px;
    bottom: -50px;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));

}

.our__title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    padding-bottom: 10px;



    color: #424242;
}
.our__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    padding-bottom: 20px;



    color: #01996D;
}
.our__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    padding-bottom: 40px;

    color: #484848;
}
/*==========================*/

.footer{
    background-color: #245852;
}
.footer__row {
    padding-top: 95px;
    padding-bottom: 180px;
    width: 1370px;
    margin: 0 auto;
}
.footer__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.footer__container ul,li,a{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}
.footer__title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;

    color: #fff;
}